/*
 * text field
 */

.text_field.container {
  display: block;
  float: left;
  width: 450px;
  margin: 0;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.text_field .backdrop {
  position: absolute;
  z-index: 2;
  padding: 1px;
  overflow: scroll;
  overflow-y: scroll;
  pointer-events: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.text_field .highlights {
  color: transparent;
  display: block;
/*  word-wrap: break-word; */
}

.text_field .highlights mark {
  background-color: transparent;
  color: #000;
}

.text_field textarea {
  display: block;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
/*  border: 2px solid #74637f;
  border-radius: 0; */
  color: #999;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.lines {
  font-family: 'Verdana', Georgia, Serif;
  float: left;
  font-size: 12pt;
  overflow: hidden;
  padding-right: 5px;
  text-align: right;
  width: 45px;
}

.codelines, .lineno {
  white-space: nowrap;
}

.text_field.container > *, *::before, *::after {
  box-sizing: border-box;
}

.text_field.container, .text_field .backdrop, .text_field textarea, .lines {
  height: 400px;
}

.text_field .backdrop, .text_field textarea {
  width: 400px;
}

.text_field.container textarea, .text_field .highlights {
  font-family: 'Verdana', Georgia, Serif;
  font-size: 12pt;
  font-weight: 100;
  overflow: auto;
  white-space: pre;
}

/*
 * Highlight
 */

._tint, ._tvar {
  color: #000;
}

._tap, ._tam, ._tat, ._tad, ._teq {
  color: #8b4513;
}

._tlp, ._trp, _tin {
  color: #8b4513;
}

._tin {
  color: #8b4513;
  font-weight: 500;
}

._tcmt {
  color: #800000;
}

._tif, ._tthen, ._telse {
  color: #9400d3;
}

._tlet, ._trec {
  color: #0000cd;
  font-weight: 500;
}

._ttru, ._tfls {
  color: #6495ed;
}
