/*
 * text field
 */

.backs.display_none {
  display: none;
}

.title {
  background-image: url("../img/title.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 200px;
  margin: 20px;
}

.text_field .txt_container {
  display: block;
  float: left;
  width: 400px;
  margin: 0;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.text_field .backdrop, .backend {
  position: absolute;
  padding: 1px;
  overflow: scroll;
  overflow-y: scroll;
  pointer-events: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.text_field .backdrop {
  z-index: 2;
}

.backend {
  z-index: 0
}

.text_field .highlights, .backs {
  color: transparent;
  display: block;
/*  word-wrap: break-word; */
}

.backs mark {
  background-color: yellow;
  color: transparent;
}

.text_field textarea {
  display: block;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: transparent;
/*  border: 2px solid #74637f;
  border-radius: 0; */
  color: #999;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.lines {
  font-family: 'Verdana', Georgia, Serif;
  float: left;
  font-size: 12pt;
  overflow: hidden;
  padding-right: 5px;
  text-align: right;
  width: 45px;
}

.codelines, .lineno {
  white-space: nowrap;
}

.txt_container > *, *::before, *::after {
  box-sizing: border-box;
}

.text_field, .text_field .txt_container,
.text_field .backdrop, .text_field textarea, .lines, .backend, .op_panel {
  height: 500px;
}

.text_field {
  display: inline-flex;
  float: left;
}

.text_field .backdrop, .text_field textarea, .backend {
  width: 400px;
}

.text_field textarea, .text_field .highlights, .backs {
  font-family: 'Verdana', Georgia, Serif;
  font-size: 12pt;
  font-weight: 100;
  overflow: auto;
  white-space: pre;
}

div.tama {
  display: inline-flex;
}

.cmp_btn {
  height: 30px;
  margin: 0 auto 10px auto;
  width: 100%;
}

div.action {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

div.action > button {
  display: inline-block;
  height: 30px;
  width: 90px;
}

.quit_btn {
  margin-left: 10px;
}

.step_btn {
  margin-left: 10px;
}

.op_panel {
  font-family: 'Verdana', Georgia, Serif;
  float: left;
  padding-left: 10px;
  width: 300px;
}

.opcode_field {
  height: 100%;
}

.opcode_field .message {
  border: 1px solid #74637f;
  height: 50px;
  overflow: auto;
}

.opcode_field .out {
  border: 1px solid #74637f;
  height: 72%;
  margin-top: 5px;
  overflow: auto;
  white-space: pre;
}

.opcode_field .out > mark {
  display: block;
}

.opcode_field .error_typ {
  color: red;
  font-weight: bold;
}

.opcode_field .success {
  color: #00ff00;
  font-weight: bold;
}

/*
 * Highlight
 */

._tint, ._tvar {
  color: #000;
}

._tap, ._tam, ._tat, ._tad, ._teq, ._tb {
  color: #8b4513;
}

._tlp, ._trp, _tin, ._tdsc {
  color: #8b4513;
}

._tin {
  color: #8b4513;
  font-weight: 500;
}

._tcmt {
  color: #800000;
}

._tif, ._tthen, ._telse {
  color: #9400d3;
}

._tlet, ._trec {
  color: #0000cd;
  font-weight: 500;
}

._ttru, ._tfls {
  color: #6495ed;
}
