/*
 * text field
 */

.text_field.container {
  display: block;
  margin: 0;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.text_field .backdrop {
  position: absolute;
  z-index: 2;
  padding: 1px;
 /* border: 2px solid #685972; */
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.text_field .highlights {
  color: transparent;
  word-wrap: break-word;
}

.text_field .highlights mark {
  background-color: transparent;
  color: #000;
}

.text_field textarea {
  display: block;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
/*  border: 2px solid #74637f;
  border-radius: 0; */
  color: #999;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.text_field.container > *, *::before, *::after {
  box-sizing: border-box;
}

.text_field.container, .text_field .backdrop, .text_field textarea {
  width: 100px;
  height: 300px
}

.text_field.container textarea, .text_field .highlights {
  font-family: 'Verdana', Georgia, Serif;
  font-size: 12pt;
  font-weight: 100;
  overflow: auto;
  white-space: pre-wrap;
}

/*
 * Highlight
 */

._tint {
  color: red;
}

._ivar {
  color: #f4a460;
}

._tap, ._tam, ._tat, ._tad {
  color: #000;
}

._tlp, ._trp {
  color: #000;
}

._tcmt {
  color: #800000;
}

